:root{
  --error:#FF0000;
  --bg:transparent;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://wallpapers.com/images/hd/cubed-squares-black-3d-bqeujlzpj3p2e505.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100vh;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0rem auto;
  height: 90vh;
}

h2{
  color: orangered;
  font-weight: bold!important;
}

h3{
  color: #a09d9d;
}

p{
  color: rgb(136, 184, 130);
}

a{
  color: white!important;
}

.navDetails{
  background: black;
  display: flex;
  padding: 10px 20px!important;
  justify-content: space-between!important;
  align-items: center!important;
  color: orangered;
  height: 10vh;
}

.nav{
  align-items: center;
  justify-content: space-between;
}

.proName{
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.nav>span{
  margin-left: 15px;
  font-weight: bold;
}

.nav>button{
  padding: 7px 15px;
  background: transparent;
  border: 3px solid orangered;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
}

.navDetails>button:hover{
  border: 3px solid white;
  color: orangered;
  font-weight: bold;
}

.home{
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 3fr;
}

.contactForm{
  position: sticky;
  top: 4rem;
  height: fit-content;
  /* box-shadow: 3px 3px 5px 6px #3b3b3b; */
  border: 1px solid orangered;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  background: transparent;
  margin-top: 2rem;
}

.labels>label{
  display: block;
  text-align: left;
  font-weight: bold;
  color: #b4b1b1;
}

.updateLabels>label{
  display: block;
  text-align: left;
  font-weight: bold;
  color: black;
}

.updateLabels>input{
  display: block;
  padding: 10px;
  margin: 3px 0px 10px 0px!important;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #b4b2b2;
  background: transparent;
  color: black;
}

input{
  display: block;
  padding: 10px;
  margin: 3px 0px 10px 0px!important;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  background: transparent;
  color: white;
}

.formBtn{
  padding: 10px 20px;
  margin: 10px;
  outline: none!important;
  border: 3px solid orangered!important;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}

.formBtn:hover{
  color: orangered;
  border: 3px solid white!important;
  background: transparent;
}

.contacts{
  margin-top: 1rem;
}

.contactsHeader{
  justify-content: space-between;
  display: flex;
}

.searchContainer{
  display: flex;
  align-items: center;
  gap: 15px;
}

.search{
  color: #b4b1b1;
}

.allContacts{
  height: 68vh;
  overflow: auto;
}

.contactDetails{
  box-shadow: 1px 1px 3px 4px #333333;
  padding: 10px 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 0px;
}

.details{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.contactImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid rgb(57, 233, 51);
}

.dltBtn{
  cursor: pointer;
  background: #d10606;
  padding: 8px 15px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  outline: none!important;
  border: none!important;
  margin-right: 1rem;
}

.editBtn{
  color: white;
  background: rgb(20, 154, 243);
  padding: 8px 15px;
  outline: none!important;
  border: none!important;
  border-radius: 6px;
}

.updtBtn{
  margin: 1rem;
}

div{
  display: block;
}

.error{
  padding: 10px;
  background: white;
  border: 1px solid var(--error);
  color: black;
  border-radius: 4px;
  margin: 20px 0;
  outline: none;
}

/* Mantine modal theme modification */
.mantine-kea9ny{
  background-color: rgb(0 0 0 / 17%)!important;
}

/* Update Modal form css */
.updateForm{
  text-align: center;
}

.imgContainer{
  display: flex;
  gap: 15px;
}

.updateImage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loading{
  width: 25px;
  height: 25px;
}

.loadingBtn{
  background: transparent!important;
  color: black;
}

/* Login / Register css */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  padding: 0;
}

.loginForm{
  height: fit-content;
  border: 1px solid orangered;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  background: transparent;
  max-width: fit-content;
}

.regTxt{
  font-weight: bold;
  color: #eb8080;
}